<div>
    <h2>
        <span jhiTranslate="kompeteerApp.game.home.title">Games</span>
        <button class="btn btn-primary float-right create-game" [routerLink]="['/', { outlets: { popup: ['game-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="kompeteerApp.game.home.createLabel">
            Create new Game
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="games">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kompeteerApp.game.status">Status</span></th>
            <th><span jhiTranslate="kompeteerApp.game.result">Result</span></th>
            <th><span jhiTranslate="kompeteerApp.game.player1">Player 1</span></th>
            <th><span jhiTranslate="kompeteerApp.game.player2">Player 2</span></th>
            <th><span jhiTranslate="kompeteerApp.game.tournament">Tournament</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><a [routerLink]="['../game', game.id ]">{{game.id}}</a></td>
                <td jhiTranslate="{{'kompeteerApp.GameStatus.' + game.status}}">{{game.status}}</td>
                <td jhiTranslate="{{'kompeteerApp.GameResult.' + game.result}}">{{game.result}}</td>
                <td>
                    <div *ngIf="game.player1Id">
                        <a [routerLink]="['../player', game.player1Id  ]" >{{game.player1Id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="game.player2Id">
                        <a [routerLink]="['../player', game.player2Id  ]" >{{game.player2Id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="game.tournamentId">
                        <a [routerLink]="['../tournament', game.tournamentId  ]" >{{game.tournamentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../game', game.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
