

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGameLabel" jhiTranslate="kompeteerApp.game.home.createOrEditLabel">Create or edit a Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!game.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="game.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kompeteerApp.game.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="game.status" id="field_status" >
                <option value="PENDING" jhiTranslate="kompeteerApp.GameStatus.PENDING">PENDING</option>
                <option value="COMPLETE" jhiTranslate="kompeteerApp.GameStatus.COMPLETE">COMPLETE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kompeteerApp.game.result" for="field_result">Result</label>
            <select class="form-control" name="result" [(ngModel)]="game.result" id="field_result" >
                <option value="PLAYER1" jhiTranslate="kompeteerApp.GameResult.PLAYER1">PLAYER1</option>
                <option value="PLAYER2" jhiTranslate="kompeteerApp.GameResult.PLAYER2">PLAYER2</option>
                <option value="DRAW" jhiTranslate="kompeteerApp.GameResult.DRAW">DRAW</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="kompeteerApp.game.player1" for="field_player1">Player 1</label>
            <select class="form-control" id="field_player1" name="player1" [(ngModel)]="game.player1Id" >
                <option [ngValue]="null"></option>
                <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kompeteerApp.game.player2" for="field_player2">Player 2</label>
            <select class="form-control" id="field_player2" name="player2" [(ngModel)]="game.player2Id" >
                <option [ngValue]="null"></option>
                <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kompeteerApp.game.tournament" for="field_tournament">Tournament</label>
            <select class="form-control" id="field_tournament" name="tournament" [(ngModel)]="game.tournamentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
