<div>
    <h2>
        <span jhiTranslate="kompeteerApp.player.home.title">Players</span>
        <button class="btn btn-primary float-right create-player" [routerLink]="['/', { outlets: { popup: ['player-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="kompeteerApp.player.home.createLabel">
            Create new Player
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="players">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kompeteerApp.player.firstName">First Name</span></th>
            <th><span jhiTranslate="kompeteerApp.player.lastName">Last Name</span></th>
            <th><span jhiTranslate="kompeteerApp.player.email">Email</span></th>
            <th><span jhiTranslate="kompeteerApp.player.user">User</span></th>
            <th><span jhiTranslate="kompeteerApp.player.group">Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players ;trackBy: trackId">
                <td><a [routerLink]="['../player', player.id ]">{{player.id}}</a></td>
                <td>{{player.firstName}}</td>
                <td>{{player.lastName}}</td>
                <td>{{player.email}}</td>
                <td>
                    {{player.user?.id}}
                </td>
                <td>
                    <span *ngFor="let group of player.groups; let last = last">
                            <a class="form-control-static" [routerLink]="['../groups', group?.id ]">{{group.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../player', player.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
